{% extends "base.html" %}

{% block app_content %}
	<h3>List of Facilities</h3>

	<table class="table">
	{% for facility in facilities %}
		{% if facility.current_capacity < facility.max_capacity %}
		<tr style="background-color: lightgreen;">
		{% else %}
		<tr style="background-color: pink;">
		{% endif %}
			<td><a href="{{ url_for('facility',id=facility.id) }}">{{ facility.name }}</a></td>
			<td>{{ facility.phone }}</td>
			<td>{{ facility.address }}</td>
			<td>{{ facility.current_capacity }}</td>
			<td>{{ facility.max_capacity }}</td>
			<td>{{ moment(facility.last_updated).fromNow() }}</td>
		</tr>
	{% endfor %}
	</table>

{% endblock %}